<!--
  =============================================================
  partials/header.html
  -------------------------------------------------------------
  Header commun (logo + navigation).
  - But : modifié UNE SEULE FOIS, injecté sur toutes les pages.
  =============================================================
-->
<header class="topbar">
  <div class="container topbar__inner">
    <a class="brand" href="index.html">Xavier Deguercy</a>

    <nav class="nav">
      <a class="nav__link" href="index.html">Accueil</a>
      <a class="nav__link" href="a-propos.html">À propos</a>
      <a class="nav__link" href="portfolio.html">Portfolio</a>
      <a class="nav__link nav__link--cta" href="#contact">Contact</a>


    </nav>
  </div>
</header>


