<!--
  =============================================================
  partials/header.html
  -------------------------------------------------------------
  Header commun (logo + navigation).
  - But : modifié UNE SEULE FOIS, injecté sur toutes les pages.
  =============================================================
-->
<header class="topbar">
  <div class="container topbar__inner">
    <div class="brand">
      <span class="brand__name">Xavier Deguercy</span>
      <span class="brand__role">PMO • Data/Dev</span>
    </div>


    <nav class="nav">
      <a class="nav__link" href="index.html">Accueil</a>
      <a class="nav__link" href="a-propos.html">À propos</a>
      <a class="nav__link" href="portfolio.html">Portfolio</a>
      <a class="nav__link nav__link--cta" href="index.html#contact">Contact</a>



    </nav>
  </div>
</header>


